@import './src/style/variants';
@import './src/style/layout';


.single{
  padding-top: $navbar-height;
  height: 100vh;

  .img-container{
    width: 100vw;
    height: 400px;
    overflow: hidden;
    //position: relative;
    margin-bottom: 20px;

    .game-img{
      width: 100%;
      object-fit: cover;
      //position: absolute;
      //top: -200px;
    }
  }
}
